.list-item {
  box-shadow: 0 1px 4px rgb(0 0 0 / 30%), 0 1px 12px 2px rgb(0 0 0 / 20%);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-item img {
  width: 100%;
  object-fit: cover;
  height: 10rem;
}

.content {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}

.content time {
  color: #666;
  font-weight: bold;
}

.actions-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.actions-container a {
  display: block;
}

.actions-container a span {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .list-item {
    flex-direction: row;
  }

  .list-item img {
    width: 40%;
    height: 14rem;
  }

  .content {
    width: 60%;
    padding: 0;
    text-align: left;
  }

  .actions-container {
    flex-direction: row;
    justify-content: flex-end;
  }
}
