.content {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media (min-width: 768px) {
  .content {
    width: 60%;
    padding: 0;
    text-align: left;
  }

  .actions {
    flex-direction: row;
    justify-content: flex-end;
  }
}
